@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Ubuntu+Sans&family=Poetsen+One&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Ubuntu Sans";
  overflow-x: hidden;
  margin: auto;
}


#footer{
  box-shadow: 0px -2px 10px rgba(2, 14, 44, 0.5);
}

#loader{
  border-top: 6px solid orange;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background-color: white;
  transform: rotate(0);
  animation: loading 1s infinite linear;
}

@keyframes loading{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

@media  only screen and (max-width: 375px) {
  #size {
    column-gap: 0.1rem;
    font-size: x-small;
  }
}



